/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #e2cece;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Otros estilos según tus necesidades */
